<footer class="site-footer">
  <p class="powered-by">
    {{ with site.Copyright }}{{ replace . "{year}" now.Year | markdownify}} &middot; {{ end }}

    Source code on 
    <a href="{{ site.Params.features.repository.url }}" target="_blank" rel="noopener">GitHub <i class="fab fa-github fa-fw" aria-hidden="true"></i></a> and hosted on
    <a href="https://www.netlify.com/" target="_blank" rel="noopener">Netlify</a>.

    {{ if not (in (slice "docs" "updates") .Type) }}
    <span class="float-right">
      <a href="#" class="back-to-top" aria-label="Back to top">
        <span class="button_icon">
          <i class="fas fa-chevron-up fa-2x" aria-hidden="true"></i>
        </span>
      </a>
    </span>
    {{ end }}
  </p>
</footer>
